


body {
    background-color :rgb(246, 182, 99);
    color:black;
    font-size: 1rem;

}
h1,h2{
    margin :0;
 }
a{
    color: black;
} 

section {

    border : 1px red solid;
    max-width : 800px;
margin-left: auto;
margin-right: auto;
/*border: 1px rgb(23, 205, 23) solid */


padding: 50px;
}

#portfolio-summary{
    display :flex;


}

#name{
    font-family: 'Cantarell', sans-serif;
    font-size: 1.5rem;
}

#jd {
    font-family: 'Cantarell', sans-serif; 
    font-size:2.5rem; 
}

#portfolio-summary > div{
    border : 1px solid rgb(197, 41, 41) ;
}

#portfolio-summary > div:last-child(2){
    flex-grow: 1;
    align-self: flex-end;
    padding-left: 2em ;
    text-align: center;

}
.anchor-button{
    display: block;
    background-color: rgb(29, 202, 202);
    border-radius: 5px; 
    padding: 0.625em;
    text-decoration: none;
    margin: 0.315em;
}

.button-container{
    display: flex;
    justify-content: center;
}